# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
.env
*.njsproj
*.sln
*.sw?

REACT_APP_FIREBASE_API_KEY= AIzaSyDkTaqbwBZAUzWBbAVy3APcmkg3k-Mxaro
  REACT_APP_FIREBASE_AUTH_DOMAIN= kavach-ffc75.firebaseapp.com
  REACT_APP_FIREBASE_PROJECT_ID= kavach-ffc75
  REACT_APP_FIREBASE_STORAGE_BUCKET= kavach-ffc75.firebasestorage.app
  REACT_APP_FIREBASE_MESSAGING_SENDER_ID= 98880033458
  REACT_APP_FIREBASE_APP_ID= 1:98880033458:web:56ea4503a0744259f3efab
  REACT_APP_FIREBASE_MEASUREMENT_ID= G-819KEX2834
